# Distribution / packaging
.DS_Store
.Python
.venv
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
log
/dumps
/bin/dumps
/logs

/dist
*.pyc
*.iws
*.zip
workspace.xml
tasks.xml
/.idea
/build
/sc.egg-info
/packages
/audio_files

# Root files
/.coverage*
/.mypy_cache/

# Downloaded Data from Scripts
/data